@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kumbh+Sans:wght,YOPQ@500,40..300&family=League+Spartan:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply scroll-smooth;
}

html {
  min-height: 100%;
}

body {
  min-height: screen;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'League Spartan';
  font-size: 15px;
  font-weight: 500;
}

.job {
  display: grid;
  gap: 1rem;
  grid-template-areas:
    'logo'
    'company'
    'position'
    'job-info'
    'skills';
  grid-template-rows: 25px auto auto auto auto;
}

.logo {
  grid-area: logo;
}

.company {
  grid-area: company;
}

.position {
  grid-area: position;
}

.job-info {
  grid-area: job-info;
  @apply text-dark-cyan;
}

.skills {
  grid-area: skills;
  align-self: center;
  @apply max-w-full;
}

.skill {
  @apply rounded-md bg-filter-tablets p-2 text-primary;
}

footer a {
  @apply text-primary underline;
}

@media (min-width: 768px) {
  .job {
    grid-template-areas:
      'logo company company'
      'logo position position'
      'logo job-info job-info'
      'logo skills skills';
    gap: 0.5rem;
    grid-template-columns: 100px auto auto;
    grid-template-rows: auto;
  }
  .logo {
    align-self: center;
  }
}

@media (min-width: 1024px) {
  .job {
    grid-template-areas:
      'logo company skills'
      'logo position skills'
      'logo job-info skills';
    gap: 1rem;
    grid-template-columns: 100px auto auto;
    grid-template-rows: auto;
  }
}
